<template>
  <main><TodoList/></main>

  <v-row class="ma-4" justify="center">
    <h1>{{ $t('Welcome') }}</h1>
  </v-row>

  <v-divider></v-divider>

  <v-row class="ma-8" justify="center">
    <v-container align="center" height="400">{{ $t('HomeInfo') }}</v-container>
  </v-row>
</template>

