<script setup lang="ts">
import { useUserStore } from '@/stores/loginStore'
import { storeToRefs } from 'pinia'

const userStore = useUserStore()
const { email, password } = storeToRefs(userStore)
</script>

<template>
  <div class="main_page">
    <v-sheet max-width="500" class="mx-auto">
      <v-row class="ma-4" justify="center">
        <h1>{{ $t('CreateAccount') }}</h1>
      </v-row>

      <v-form>
        <v-container>
          <v-row justify="center" class="ma-4">
            <v-col cols="12" md="8">
              <v-text-field
                v-model="email"
                :label="$t('Email')"
                placeholder="tomdawn@gmail.com"
                type="email"
                variant="outlined"
              ></v-text-field>
            </v-col>

            <v-col cols="12" md="8">
              <v-text-field
                v-model="password"
                :label="$t('Password')"
                type="input"
                :hint="$t('PasswordHint')"
                variant="outlined"
              ></v-text-field>
            </v-col>

            <v-col align="center" cols="12" md="8">
              <v-btn
                color="red"
                variant="flat"
                width="70%"
                class="rounded-pill"
                @click="userStore.register"
                >{{ $t('Register') }}</v-btn
              >
            </v-col>

            <v-col align="center" cols="12" md="8">
              <v-btn
                color="red"
                variant="tonal"
                width="50%"
                class="rounded-pill"
                @click="userStore.registerGoogle"
                >{{ $t('RegisterWith') }}
              </v-btn>
            </v-col>
          </v-row>
        </v-container>
      </v-form>
    </v-sheet>
  </div>
</template>
