<script setup>
defineProps({
  id: {
    type: Number,
    default: 0
  },

  name: {
    type: String,
    default: 'New Task'
  },

  done: {
    type: Boolean,
    default: false
  }
})
const emit = defineEmits(['removeTodo', 'makeDone', 'editTodo'])
</script>

<template>
  <div class="d-flex">
    <v-col cols="4">
      <v-checkbox
        :model-value="done"
        type="checkbox"
        :label="name"
        :checked="done"
        @change="emit('makeDone')"
      />
    </v-col>

    <v-col cols="5">
      <div class="ml-auto">
        <v-btn size="small" color="black" @click="emit('removeTodo')">{{ $t('deleteBtn') }}</v-btn>

        <v-btn size="small" color="black" @click="emit('editTodo')">{{ $t('editBtn') }}</v-btn>
      </div>
    </v-col>
  </div>
</template>
