<!-- eslint-disable vue/v-on-event-hyphenation -->
<script setup>
import { computed } from 'vue'
import Task from '../components/SingleTodo.vue'
import { useCounterStore } from '../stores/counter'
import { storeToRefs } from 'pinia'

const userStore = useCounterStore()

const { updateTodo, updateStatus, sortTodo, editTodo, removeTodo, addTodo } = userStore

const { rules, newTodo, newTodoName, hideCompleted } = storeToRefs(userStore)

const filteredTodos = computed(() => userStore.filteredTodos)
const uncompletedCount = computed(() => userStore.uncompletedCount)
</script>

<template>
  <div class="main_page">
    <v-sheet max-width="500" class="mx-auto">
      <form @submit.prevent="addTodo">
        <v-text-field v-model="newTodo" :placeholder="$t('placeHolderAdd')" :rules="rules" />

        <div class="text-center">
          <v-btn color="black" @click="addTodo">{{ $t('addBtn') }}</v-btn>
        </div>
      </form>

      <ul>
        <li v-for="todo in filteredTodos" :key="todo.id">
          <div v-if="!todo.Edit">
            <Task
              :id="todo.id"
              :name="todo.text"
              :done="todo.done"
              @remove-todo="removeTodo(todo)"
              @edit-todo="editTodo(todo)"
              @make-done="updateStatus(todo)"
            ></Task>
          </div>

          <div v-else>
            <v-text-field
              v-model="newTodoName"
              :placeholder="$t('placeHolderEdit')"
              :rules="rules"
            />

            <v-btn class="ma-2" @click="updateTodo"> {{ $t('editBtn') }} </v-btn>
          </div>
        </li>
      </ul>

      <div class="text-center">
        <v-btn color="black" @click="sortTodo">{{ $t('sortBtn') }}</v-btn>
      </div>

      <v-checkbox v-model="hideCompleted" class="checkbox"></v-checkbox>

      <span>{{ hideCompleted ? $t('showAll') : $t('Hide') }}</span>

      <p></p>

      <p>{{ $t('textUnfinished') }} {{ uncompletedCount }}</p>
    </v-sheet>
  </div>
</template>

<style scoped>
.main_page {
  width: d-flex;
  margin: auto;
}
.button {
  width: d-flex;
}
.checkbox {
  display: inline-flex;
}
</style>
