<script lang="ts" setup>
import { RouterView } from 'vue-router'
import { onMounted, ref } from 'vue'
import { getAuth, onAuthStateChanged, signOut } from 'firebase/auth'
import router from '@/router'
import { useCounterStore } from './stores/counter'

const drawer = ref(false)

const isLoggedIn = ref(false)

onMounted(() => {
  onAuthStateChanged(getAuth(), (user) => {
    if (user) {
      isLoggedIn.value = true
    } else {
      isLoggedIn.value = false
    }
  })
})

const handleSingOut = () => {
  signOut(getAuth()).then(() => {
    useCounterStore().$dispose()
    router.push('/')
  })
}
</script>

<template>
  <v-card>
    <v-layout>
      <v-app>
        <v-app-bar color="red" prominent>
          <v-app-bar-nav-icon variant="text" @click.stop="drawer = !drawer"></v-app-bar-nav-icon>

          <v-toolbar-title>{{ $t('Toolbar_title') }}</v-toolbar-title>

          <v-spacer></v-spacer>

          <v-btn variant="text" icon="mdi-magnify"></v-btn>

          <v-btn variant="text" icon="mdi-filter"></v-btn>

          <v-btn variant="text" icon="mdi-dots-vertical"></v-btn>

          <v-btn class="ma-2" color="black">
            <v-select v-model="$i18n.locale" :items="['pl', 'en']" :value="$i18n.locale">
            </v-select>
          </v-btn>
        </v-app-bar>

        <v-navigation-drawer v-model="drawer" location="left" temporary>
          <v-list>
            <v-list-item v-if="isLoggedIn" @click="router.push('/')">
              <v-btn color="red" class="ma-2">{{ $t('home') }}</v-btn>
            </v-list-item>

            <v-list-item v-if="isLoggedIn" @click="router.push('/about')">
              <v-btn color="red" class="ma-2">{{ $t('about') }}</v-btn>
            </v-list-item>

            <v-list-item v-if="isLoggedIn" @click="router.push('/dashboard')">
              <v-btn color="red" class="ma-2">{{ $t('Todo') }}</v-btn>
            </v-list-item>

            <v-list-item v-else @click="router.push('/SignUp')">
              <v-btn variant="elevated" class="ml-1" color="red">{{ $t('SignUp') }}</v-btn>
            </v-list-item>
          </v-list>

          <v-btn v-if="isLoggedIn" variant="tonal" class="ml-3" color="red" @click="handleSingOut">
            {{ $t('SignOut') }}
          </v-btn>
        </v-navigation-drawer>

        <v-main>
          <RouterView />
        </v-main>
      </v-app>
    </v-layout>
  </v-card>
</template>
